@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap");

// Color
$primary: #a3bcb6;
$secondary: #3c403d;
$green-nav: #0b7e17;

$light: rgba($primary, 0.001%);

//Custom colour variables
$pearl: #daded4;
$dark-text: #3c403d;
$green: #39603d;
$green-light: #5c9c63;
$update: #132fcf;
$cart-color: #fabd14;
$redheart: #e6071a;
$white: #ffffff;
$black: #000000;

// Navbar
$navbar-light-color: $black;
$navbar-light-active-color: $green-nav;
$navbar-light-hover-color: $green-nav;

$navbar-dark-color: $black !default;
$navbar-dark-active-color: $update;
$navbar-dark-hover-color: $green-nav;

//Typography
$font-primary: "Lora", serif;
$font-secondary: "Roboto", sans-serif;

//modal
