.jumbotron {
	background-repeat: no-repeat;
	background-position: center;

	&.home_hero {
		background-position: right;
		background-repeat: no-repeat;
		background-size: cover;
	}

	@media (max-width: $mobile-width) {
		height: 400px;
	}

	@media (min-width: $mobile-width) {
		background-size: cover;
		background-position: right bottom;
		height: 450px;
	}
	@media (min-width: $tablet-width) {
		height: 400px;
	}
}

.home__banner-text {
	background: transparent;
	text-transform: capitalize;
	position: absolute;
	top: 0;
	left: 0;
	color: $black;
	width: 100%;

	@media (min-width: $tablet-width) {
		padding: 1.5rem;
	}
}

.btnCenter {
	margin: 0 auto;
}

.loading {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin-left: 50%;
}

.loading:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid $dark;
	border-color: $dark transparent $dark transparent;
	animation: loading 1.2s linear infinite;
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.lead {
	max-width: 100%;
	background-color: rgba($pearl, 0.4);
	padding: 0.5em;
	color: $black;
	@media (min-width: $medium-width) {
		max-width: 60%;
	}
}
