// breaking point

$mobile-width: 576px;
$tablet-width: 768px;
$medium-width: 992px;
$large-width: 1200px;

//Custom colour variables
$pearl: #daded4;
$dark-text: #3c403d;
$green: #39603d;
$green-light: #5c9c63;
$update: #132fcf;
$cart-color: #fabd14;
$redheart: #e6071a;
$white: #ffffff;
$black: #000000;

$box-shadow: 0 10px 12px rgba($dark, 0.1);
$box-shadow-detail: 0 10px 12px rgba($black, 0.4);
$boderRadius: 5px;
$boderRadiusfifth: 15px;
$box-shadow-product: rgba($pearl, 0.5%) 0px 10px 10px -10px;
