// breaking point

$mobile-width: 576px;
$tablet-width: 768px;
$medium-width: 992px;
$large-width: 1200px;

//box shadow & border radium
$box-shadow: 0 10px 12px rgba($dark, 0.1);
$box-shadow-detail: 0 10px 12px rgba($black, 0.4);
$boderRadius: 5px;
$boderRadiusfifth: 15px;
$box-shadow-product: rgba($pearl, 0.5%) 0px 10px 10px -10px;
